@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-2xl;
}

h4 {
  @apply md:text-sm text-xs;
}

p {
  @apply text-xs;
}

input {
  @apply md:text-base bg-[#F7F7F7] text-xs border-0 rounded-lg py-1 px-2 focus:outline-none focus:outline-yellow-500;
}

.button {
  @apply bg-[#FFB627] text-white rounded-lg;
}

.active-page {
  @apply text-yellow-500 underline;
}

.active-page-2 {
  @apply underline;
}

.animate-fade {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-fade.appear {
  opacity: 1;
  transform: translateX(0);
}

.animate-fade.disappear {
  opacity: 0;
  transform: translateX(100%);
}

:root {
  --custom-margin-top-main-page: 480px;
  --custom-margin-bottom-main-page: 550px;
  --custom-margin-top-masters-page: 30rem;
  --custom-margin-top-service-page: 80px;
}

@media (min-width: 780px) {
  :root {
    --custom-margin-top-main-page: 0px;
    --custom-margin-bottom-main-page: 0px;
    --custom-margin-top-masters-page: 50px;
    --custom-margin-top-service-page: 180px;
  }
}

@media (min-width: 1281px) {
  :root {
    --custom-margin-top-main-page: 180px;
    --custom-margin-bottom-main-page: 180px;
    --custom-margin-top-masters-page: 50px;
    --custom-margin-top-service-page: 180px;
  }
}

.test:hover {
  @apply bg-[#FFB627] text-white;
}

.test:hover .button {
  @apply bg-white text-yellow-500;
}

.test:hover a:not(.button) {
  @apply text-white;
}

.test:hover h3 {
  @apply text-white;
}
